<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompSysService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICompSysService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICompSysService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/CompSysService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompSysService"
                contract="SvcRef.ICompSysService" name="BasicHttpBinding_ICompSysService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CompSysService/compsys/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICompSysService"
                contract="SvcRef.ICompSysService" name="WSHttpBinding_ICompSysService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost/CompSysServiceNetTcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICompSysService"
                contract="SvcRef.ICompSysService" name="NetTcpBinding_ICompSysService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>